*{
  margin: 0;
  padding: 0;
}
#navbar .btn{
  margin-top: 0;
  padding-top: 0;
}
#navbar .brand-logo{
  color: #000;
}



#carousel .carousel-slider{
  height: 600px !important;

}

.carousel .indicators .indicator-item.active{
  background-color: #26a69a;
}

#carousel .carousel-fixed-item{
  background-color: rgba(0, 0, 0, 0.062) !important;
  opacity: 1.0;
}
#carousel div div div div h1,h5{
  font-family: 'Montserrat', sans-serif;

  font-weight: 900 !important;
}
#carousel div div div div h6{
  margin-top: 20%;  
}
#about-us,#footer,#our-services,#chose-us,#advisor{
  padding-top: 5%;
  padding-bottom: 5%;
}
#about-us div div div {
  padding: 5%;
}
#about-us div div div .left-img{
  margin-top: 10%; width: 250px;float: right; display: inline; z-index: 1;position:absolute;
}
#about-us div div div .right-img{
  margin-left: 30%; width: 250px;float: left; display: inline; z-index: 0;
}
#chose-us .chose-{
  margin-top: 7%;
}
#chose-us .img-1{
  margin-top: 12%;margin-left: 10%; width: 359px; float: left; display: inline; z-index:1;position: absolute;
}#chose-us .img-2{
   float: right;  width: 450px; display: inline; z-index:0;
}
#about-us h6, h2{
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;

}
#chose-us h6, h1{
  font-family: 'Montserrat', sans-serif;

  font-weight: bolder;
}
#parallex h6, h1{
  font-family: 'Montserrat', sans-serif;

  font-weight: bolder;
}
#our-services h6, h1{
  font-family: 'Montserrat', sans-serif;

  font-weight: bolder;
}
#advisor h6, h1{
  font-family: 'Montserrat', sans-serif;

    font-weight: bolder;
    

}
#advisor p{
  margin-bottom: 7%;
}



#about-us h1 {
  font-family: 'Montserrat', sans-serif;

  font-size: 3.2rem;
}
#about-us p,button,h6{
  margin-top: 15%;
}
#our-services h6,p,button{
  margin-top: 10%;
}
#parallex,.carousel{
  background-color: rgba(0, 0, 0, 0.705);  
}

#parallex div{
  height: 400px !important;
}
#parallex div .container{
  padding: 5%;
}
#parallex div .container button{
  margin: 1%;
}

#advisor img{
  width: 300px;
}
#advisor h6{
  font-weight: bolder;
  margin-bottom: 0;
}
#advisor p{
  margin-top: 10px;
}
#testimonails h1,h6,span{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 5%;
}
#testimonails .testi{
  padding: 7%;
}#testimonails p{
  padding-bottom: 7%;
}
#testimonails div{
  margin: 0;
}

#footer p{
  margin-top: 3%;
}



@media only screen and (max-width:790px){
  #chose-us .img-1{
    margin-top:30%;margin-left: 10%; width: 359px; float: left; display: inline; z-index:1;position: absolute;
  }#chose-us .img-2{
     float: right; display: inline; z-index:0;
  }
  h1,h2{
    font-family: 'Montserrat', sans-serif;

    font-size: 3rem;
  }
}



@media only screen and (max-width: 1310px){
  .hide-on-med-and-down {
      display: none !important;
    }

  }
  @media only screen and (max-width: 986px){

      .brand-logo{
        position: absolute !important;
      }
    }

@media only screen and (min-width: 1350px){
nav a.sidenav-trigger {
    display: none !important;
}

}

@media only screen and (max-width:1160px){
  #carousel .carousel-fixed-item{
    display: none !important;
  }
  *{
    padding: 0;
    margin: 0;
  }
  #carousel .carousel-slider{
    height: 400px !important;
    background-color: black !important;
    h1,h2{
      font-family: 'Montserrat', sans-serif;
  
      font-size: 2rem;
    }
  }
  .row .col{
    display: block;
  }
}

@media only screen and (max-width:880px){
  #carousel .carousel-slider{
    height: 300px !important;
    background-color: black !important;
  }
  #our-services{
    text-align: center !important;
  }
}
  

@media only screen and (max-width:600px){
  #carousel .carousel-slider{
    height: 250px !important;
    background-color: black !important;
  }

}
@media only screen and (max-width:360px){
  #carousel .carousel-slider{
    height: 200px !important;
    width: 100%;
    background-color: black !important;
  }

}
@media only screen and (max-width:600px){
  h1,h2{
    font-size: 2.5rem;
  }
}




